{% extends 'base.html.twig' %}
{% block title %}Information {{ contributor.id }} {% endblock %}
{% block body %}
    <div class="container">
        <h1 class="danger-text">{{ contributor.login }}</h1>
        <h1 class="primary-text">{{ contributor.pwd }}</h1>
    </div>
{% endblock %}